@charset "utf-8";
html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

a {
  outline: 0 !important;
  text-decoration: none !important;
}

.common-header {
  .wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #191919;
    z-index: 999;
  }

  .bg-gray {
    background-color: rgba(128, 127, 125, 0.6);
  }

  .limit-with {
    max-width: 1300px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .iqiyi-logo {
    padding: 12.5px 0;
  }
  .nav-title {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  //hover字体状态
  .on-golden:hover {
    color: #d7b580;
  }
  .on-green:hover {
    color: #22ac38;
  }
  .on-red:hover {
    color: #f15d42;
  }
  .about-us {
    cursor: pointer;
    color: white;
  }

  .logo {
    float: left;
    line-height: 2.08rem;
    font-size: 2.4rem;
    padding: 20px 0;
  }
  .text-golden {
    color: #d7b580;
  }
}
//common-footer
.common-footer{
  color: #989898;
  background-color:#191919;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
