@charset "UTF-8";
@import "nav-header";
#myCarousel {
  margin-top: 60px;
}

// 轮播图
.carousel-indicators li{
  background-color: #fff;
  margin: 1px 6px ;
}
.carousel-indicators .active{
  background-color: #22ac38;
  border: 1px solid #22ac38;
  margin: 0px 6px;
}
.carousel-control.left{
  background-image: none;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
}
.glyphicon-chevron-left::before{
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(45deg);
}
.glyphicon-chevron-right::before{
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  //margin-left: 7px;
}

.carousel-inner {
  width: 100%;
  height: 33.75vw;
  img {
    width: 100%;
    object-fit: contain;
  }
}

// 轮播图下方内容展示
.main-width {
  position: relative;

}

.main-navigation {
  padding: 0 15px;
  max-width: 1300px;
  min-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 0;

}

.main-text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 26px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.matrix {
  position: relative;
  width: 15.77%;
  animation-delay: 0.5s;
  transition: 0.5s;
}

// 电影介绍内容
.matrix-content {
  display: flex;
  padding: 5%;
  background-color: #f8f8f8;
}

.movie-text {
  width: 75%;
  margin-top: 5px;
}

.movie-title {
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  width: 75%;
  margin-right: 10%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.movie-content {
  font-size: 14px;
  color: #888888;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-play {
  display: flex;
  align-items: center;
}

.movie-score {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 25%;
  font-size: 22px;
  color: #5ab121;
}

//影院同步系列
.film-item-detail {
  box-sizing: border-box;
  padding: 8% 7%;
}
.film-item-detailtext{
  font-size: 0;
  line-height: 28px;
}

.film-list {
  position: relative;
}

.film-item {
  display: inline-block;
  width: 15%;
  position: relative;
  margin-left: 2%;
  margin-top: 2%;
}



.no-ml {
  margin-left: 0;
}

.film-show {
  .film-item-preview {
    font-size: 0;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.film-hidden {
  .film-item-preview {
    font-size: 0;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.film-show {
  background-color: #f8f8f8;
  .content-title {
    padding: 0 4%;
    font-size: 14px;
  }
  .content-intro {
    padding: 0 4%;
    font-size: 14px;
  }
}

.file-item-detailscore {
  font-size: 20px;
  color: green;
  font-family: initial;
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

.film-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: #fff;
  box-shadow: 2px 2px 12px #DAE0E3;
  transition: transform 1s;
  .content-title {
    padding: 0 8%;
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .content-intro {
    padding: 0 8%;
    font-size: 14px;
    margin-bottom: 14%;
  }
  .film-item-detail {
    box-sizing: border-box;
    padding: 14% 8% 8%;
    font-size: 0;
    line-height: 34px;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

.mb-10 {
  margin-bottom: 10px;
}
.film-three{
  margin-bottom: 170px;
}

.move-right {
  transform: translateX(15px);
}

.move-left {
  transform: translateX(-15px);
}

.move-right,
.move-left {
  transition: transform 1s ;
}
//self-header

.navigation .navgation-title .on-golden .second-nav {
  opacity: 1;
  display: block;
}

.second-nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  white-space: nowrap;
  font-size: 1.6rem;
  list-style: none;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  display: none;
  ul {
    box-sizing: border-box;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
  }
  li {
    display: inline-block;
    cursor: pointer;
    //font-family: PingFangSC;
  }
}
.nav-title > li {
  display: inline-block;
  color: #fff;
  padding: 20px 21px;
  cursor: pointer;
  &:hover > div {
    display: block;
    opacity: 1;
  }
  a {
    text-decoration: none;
    color: white;
  }



  .add-padding-golden,
  .add-padding-green {
    padding: 20px 0;
    margin: 0 21px;
    &:hover {
      padding:  20px 0 14px 0;
    }
  }
  .add-padding-golden:hover {
    border-bottom: solid 6px #d7b580;
  }
  .add-padding-green:hover {
    border-bottom: solid 6px #22ac38;
  }

  .active {
    padding: 20px 0 14px 0;
    border-bottom: solid 6px #22ac38;
  }
}
//footer-img
.film-footerimg{
  margin: 35px auto;
  img{
    width: 48%;
    left: 50%;
    transform: translateX(50%);
  }
}