<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>关于我们</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/aboutUs.css">
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>

</head>
<body>
<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green">
                        小悦阅
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red"><a href="iReal-overview.html">iReal</a></li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green"><a href="the-film.html">线上影城</a></li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="cooperation.html" class="on-green">商业合作</a></li>
                </ul>
                <a href="aboutUs.html" class="on-about-us on-green">关于我们</a>
            </nav>
        </div>
    </div>
</div>
<div class="aboutUs-header">
    <img src="../img/aboutUs/aboutUs-header.jpg" alt="">
</div>
<div class="contentText">
    <div class="bottom-border">
        <div class="contentText-title">
            企业大事件
        </div>
        <ul>
            <li>&bull; 2000.09.31<br/>
                <span>&emsp;佩戴舒适零压力，犹如皮肤般柔软，有弹性且具有极佳的亲肤性和耐腐蚀性；同时与耳廓有良好的切合度，带来绝佳的被动降噪效果。</span>
            </li>
            <li>&bull; 2000.09.31<br/>
                <span>&emsp;工程师对LOGO盖历时一年反复打样尝试，最终选取了电镀+喷漆+激光退雕工艺，良率只有40%，一切都是为了达到极致。</span>
            </li>
            <li>&bull; 2000.09.02<br/>
                <span>&emsp;采用一线漆厂PPG(Beats的供应商)调制的特殊</span><br/>
                <span>&emsp;喷漆，保证金属质感与光泽度，拥有防指纹效果</span>
            </li>
            <li>&bull; 2000.02.12<br/>
                <span>&emsp;使用7系航空铝材，经过多次打磨，让金属换发</span><br/>
                <span>&emsp;了生命，显露出彩虹一样的光泽。</span>
            </li>
        </ul>
    </div>
</div>
<div class="aboutUs-footer">
     <div class="contentText-title">
         加入我们
     </div>
     <div class="aboutUs-message">
         <div class="message-left">
            <div>
                公司地址：上海市浦东新区盛夏路666号上投盛银大厦D栋3栋
                 <div class="mt-20">
                     邮编：201203
                 </div>
            </div>
             <div class="message-left-email">
                 <div class="mb-20">
                     客服邮箱：VR-CS@whaley.cn
                 </div>
                 <div class="mb-20">
                     客服邮箱：VR-CS@whaley.cn
                 </div>
                  <div>
                      客服邮箱：VR-CS@whaley.cn
                  </div>
             </div>
             <div class="message-left-footer">
                <span>
                    联系方式: 400-660-5311
                </span>
                 <div>
                     <img src="../img/aboutUs/weixin1.png" alt="" class="mr-5">
                     <img src="../img/aboutUs/weixin1.png" alt="">
                 </div>
             </div>
         </div>
         <div class="message-right">
             <img src="../img/aboutUs/company.png" alt="">
         </div>
     </div>
</div>
<!--<div class="aboutUs-content">-->
    <!--<img src="../img/aboutUs/about.jpg" alt="">-->
<!--</div>-->
<!--<div class="aboutUs-content bt-1">-->
    <!--<img src="../img/aboutUs/about-footer.jpg" alt="">-->
<!--</div>-->
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
</body>
</html>