<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商业合作</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/cooperation.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green">
                        小悦阅
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red"><a href="iReal-overview.html">iReal</a></li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green"><a href="the-film.html">线上影城</a></li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="cooperation.html" class="on-green on-cooperation">商业合作</a></li>
                </ul>
                <a href="aboutUs.html" class="about-us on-green">关于我们</a>
            </nav>
        </div>
    </div>
</div>
<div class="cooperation-header">
    <img src="../img/cooperation/cooperation-header.jpg" alt="">
</div>
<div class="cooperation-content">
    <img src="../img/cooperation/cooperation-content.jpg" alt="">
</div>
<div class="cooperation-footer">
    <img src="../img/cooperation/cooperation-footer.jpg" alt="">
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
</body>
</html>