<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>游戏应用</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/game-application.css">
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</head>
<body>
<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green on-plus">
                        小悦阅
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red no-sec">
                        <a href="iReal-overview.html" class="on-red">
                            iReal
                        </a>
                    </li>
                    <li class="on-green" style="color: #22ac38">
                        资源展示
                        <div class="second-nav bg-gray current-page">
                            <ul>
                                <li class="add-padding-green">
                                    <a href="the-film.html" >
                                        线上影城
                                    </a>
                                </li>
                                <li class="add-padding-green"><a href="game-application.html" class="active">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="no-sec">
                        <a href="cooperation.html" class="on-green">
                            商业合作
                        </a>
                    </li>
                </ul>
                <div class="no-sec">
                    <a href="aboutUs.html" class="about-us on-green">
                        关于我们
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--轮播图-->
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">

    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">

    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--展示内容-->
<div class="limit-width">
    <div class="main-wrap">
        <!--多方应用平台-->
        <div class="main-title">多方应用平台</div>
        <div class="first-row">
            <!--<div class="first-row">-->
                <!--<div class="matrix">-->
                    <!--<div class="hover-disappear">-->
                        <!--<img src="../img/game/sm.png" class="matrix-img">-->
                        <!--<div class="matrix-text">恐龙星球</div>-->
                    <!--</div>-->
                    <!--<div class="hover-appear">-->
                        <!--<img src="../img/game/big.png" class="hover-img">-->
                        <!--<div class="hover-text">-->
                            <!--<div class="title">虚拟忍者VR</div>-->
                            <!--<div class="description">-->
                                <!--虚拟忍者 VR(Virtual Ninja VR)是一款模拟忍者战斗-->
                                <!--的动作射击游戏。玩家扮演一名忍者，使用武士刀与-->
                                <!--手里剑对付其他想要取你性命的忍者武士。-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="sec-row">
            <!--<div class="first-row">-->
                <!--<div class="matrix">-->
                    <!--<div class="hover-disappear">-->
                        <!--<img src="../img/game/sm.png" class="matrix-img">-->
                        <!--<div class="matrix-text">恐龙星球</div>-->
                    <!--</div>-->
                    <!--<div class="hover-appear">-->
                        <!--<img src="../img/game/big.png" class="hover-img">-->
                        <!--<div class="hover-text">-->
                            <!--<div class="title">虚拟忍者VR</div>-->
                            <!--<div class="description">-->
                                <!--虚拟忍者 VR(Virtual Ninja VR)是一款模拟忍者战斗-->
                                <!--的动作射击游戏。玩家扮演一名忍者，使用武士刀与-->
                                <!--手里剑对付其他想要取你性命的忍者武士。-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!--更多应用-->
        <div class="main-title">更多应用</div>
        <div class="app-content">
            <!--<div class="app-message">-->
                <!--<div class="hover-disappear">-->
                    <!--<img src="../img/game/sm.png" alt="" class="message-img">-->
                    <!--<div class="app-text">恐龙星球</div>-->
                <!--</div>-->
                <!--<div class="app-detail">-->
                    <!--<img src="../img/game/big.png" alt="" class="trigger-img">-->
                    <!--<div class="trigger-text">-->
                        <!--<div class="app-title">虚拟忍者VR</div>-->
                        <!--<div class="app-description">-->
                            <!--虚拟忍者 VR(Virtual Ninja VR)是一款模拟忍者战斗 的动作射击游戏。-->
                            <!--玩家扮演一名忍者，使用武士刀与 手里剑对-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
<script src="../script/game-application.js"></script>
</body>
</html>