<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>iqut2概况</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/iqut2-overview.css">

    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</head>
<body>
<div class="bg">
    <div class="common-header">
        <div class="wrap">
            <div class="limit-with">
                <nav class="navigation">
                    <div class="iqiyi-logo">
                        <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                    </div>
                    <ul class="nav-title">
                        <li class="on-golden">
                            iQUT
                            <div class="second-nav bg-gray  bg-black current-page">
                                <ul>
                                    <li class="logo text-golden">iQUT</li>
                                    <li class="on-golden active"><a href="iqut2-overview.html">iQUT 2</a></li>
                                    <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="on-green">
                            小悦阅
                            <div class="second-nav bg-gray bg-black">
                                <ul>
                                    <li class="logo">小阅悦</li>
                                    <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                    <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                    <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="on-red no-sec">
                            <a href="iReal-overview.html" class="on-red">
                                iReal
                            </a>
                        </li>
                        <li class="on-green">
                            资源展示
                            <div class="second-nav bg-gray bg-black">
                                <ul>
                                    <li class="add-padding-green">
                                        <a href="the-film.html">
                                            线上影城
                                        </a>
                                    </li>
                                    <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="no-sec">
                            <a href="cooperation.html" class="on-green">
                                商业合作
                            </a>
                        </li>
                    </ul>
                    <div class="no-sec">
                        <a href="aboutUs.html" class="about-us on-green">
                            关于我们
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="limit-with border-box">
        <div class="pro-headertext flex-btn pad-15">
            <div class="pro-left-header"><img src="../img/iqu2/iqut2-text.png" alt=""></div>
            <div class="pro-right-header">
                <a href="" class="ml-45 size-14 bg-this">概览</a>
                <a href="iqut2-technical.html" class="ml-45 size-14 header-hovered">技术规格</a>
                <a  onclick="_hmt.push(['_trackEvent','iqut2购买','iqut2概况页nav进入'])" href="" class="ml-45 size-14 bg-buy">购买</a>
            </div>
        </div>
    </div>
    <!--banner动画-->
    <div class="iqut2-banner iqut2-bg-dark">
        <div class="iqut2-bannertext">
            <img src="../img/iqu2/iqut2-2.png" alt="">
            <a  onclick="_hmt.push(['_trackEvent','iqut2购买','iqut2概况页banner进入'])" href="" class="iqut2-banner-buy">立即购买</a>
        </div>
        <img src="../img/iqu2/iqut2-1.png" alt="" class="iqut2-banner-img">
    </div>
    <!--发布会视频-->
    <div class="content iqut2-bg-dark">
        <img src="../img/iqu2/iqut2-3.jpg" alt="">
    </div>
    <!--4k屏幕-->
    <div class="down iqut2-bg-dark">
        <div class="content-width">
            <img src="../img/iqu2/屏幕.png" alt=""  class="screen-4k">
        </div>
        <img src="../img/iqu2/iqut2-allscreen.jpg" alt="">
    </div>
    <!--展开屏幕-->
    <div class="iqut2-response iqut2-bg-dark">
        <img src="../img/iqu2/iqut2-responsetime.png" alt="" class="iqut2-time-text" id="knowScreen-return">
        <div class="screen-open iqut2-screen" id="knowScreen">
            <button id="knowScreen-open"><img src="../img/iqu2/open.png"></button>
        </div>
        <div class="screen-spread" id="knowScreen-hidden">
            <div class="knowScreen-opend" id="knowScreen-spread">
                <img src="../img/iqu2/iqut2-hide1.jpg" alt="">
                <img src="../img/iqu2/iqut2-hide2.jpg" alt="">
            </div>
            <button class="screen-close" id="knowScreen-close">
                <a href="#knowScreen">
                    <img src="../img/iqu2/close.png">
                </a>
            </button>
        </div>
    </div>
    <!--vr芯片-->
    <div class="screen-next" id="knowScreen-next">
            <div class="core-vr">
                <img src="../img/iqu2/4G+.png" alt=""  class="network-4g">
            </div>
            <div class="core-vr">
                <img src="../img/iqu2/图层-68.jpg" alt="">
            </div>
    </div>
    <!--美轮美奂-->
    <div class="content">
        <img src="../img/iqu2/iqut2-6.jpg" alt="">
    </div>
    <!--震撼音效-->
    <div class="content" id="out">
        <img src="../img/iqu2/iqut2-7.jpg" alt="">
    </div>
    <!--现代美感-->
    <div class="rotate-text">
        <img src="../img/iqu2/iqut2-design.png" alt="">
    </div>
    <!--旋转-->
    <div class="rotate">
        <div id="rotate-video">
            <video id="video" width="270" controls="false" muted preload="auto">
                <source src="../img/audio/设计旋转.ogg" type='video/ogg'>
            </video>
            <div class="canvas">
                <canvas id="myCanvas" width="1300" height="731">
                </canvas>
                <img src="../img/audio/xuan2.jpg" alt="" class="canvasimg">
                <a href="" class="divide" id="divide">分界线</a>
            </div>
        </div>
    </div>
    <!--展开设计-->
    <div class="open-Design">
        <div class="screen-open" id="knowDesign">
            <button id="knowDesign-open"><img src="../img/iqu2/knowdesign.png"></button>
        </div>
        <div class="screen-spread" id="knowDesign-hidden">
            <img src="../img/iqu2/expanded.png"  id="knowDesign-spread">
            <button class="screen-close" id="knowDesign-close">
                <a href="#knowDesign"><img src="../img/iqu2/close.png"></a>
            </button>
        </div>
    </div>
    <div class="screen-next newbg" id="knowDesign-next">
        <!--局域网-->
        <div class="lan">
            <div class="lan-text">
                <img src="../img/iqu2/iqut2-share.png" alt="">
            </div>
            <div class="box clearfix" id="localweb">
                <img src="../img/iqu2/dahuan.png" alt="" class="maxhuan">
                <img src="../img/iqu2/huan-2.png" alt="" class="huan2">
                <img src="../img/iqu2/inner2.png" alt="" class="huan3">
                <img src="../img/iqu2/图层91.png" alt="" class="leftvr">
                <img src="../img/iqu2/right1.png" alt="" class="rightvr">
                <a href="" class="divide" id="divided">分界线</a>
            </div>
        </div>
        <!--手机投屏-->
        <div class="phone">
            <div id="out1" class="phone-text">
                <img src="../img/iqu2/iqut2-screen.png" alt="">
            </div>
            <div class="popScreen" id="cellPhone">
                <img src="../img/iqu2/cellphone-vr.png" alt="" class="phone-bg">
                <img src="../img/iqu2/cell-hone.png" alt="" class="cellphone">
                <img src="../img/iqu2/12-1.png" alt="" class="cellphone-greenBg">
                <a href="" class="divide" id="divid">分界线</a>
            </div>
        </div>
        <!--播放视频-->
        <div class="vedio-play">
            <img src="../img/iqu2/iqut2-9.jpg" alt="" id="cellphone-next">
        </div>
        <!--电影院-->
        <div class="cimena">
            <img src="../img/iqu2/iqut2-10.jpg" alt="">
            <div  class="cimena-content">
                <img src="../img/iqu2/style.png" alt="">
            </div>
        </div>
        <!--悬浮电影院-->
        <div class="content" id="pin">
            <img src="../img/iqu2/iqut-cinemadark.jpg" alt="" class="opacity-night">
            <img src="../img/iqu2/iqut-cinemadark.jpg" alt="" id="night" class="night">
            <img src="../img/iqu2/iqut2-cinemalight.jpg" alt="" id="light" class="light">
        </div>
        <!--智能识别播放模式-->
        <div class="content mg-0">
            <img src="../img/iqu2/iqut2-11.jpg" alt="">
        </div>
        <!--源于爱奇艺-->
        <div class="content mg-0">
            <img src="../img/iqu2/iqut2-12.jpg" alt="">
            <img src="../img/iqu2/iqut2-13.jpg" alt="">
        </div>
        <!--精品测评-->
        <div class="s-evaluation">
            <div class="limit-width border-box pad-15" id="s-evalute">
                <div class="s-evaluationtext">精品测评</div>

            </div>
        </div>
        <!--img-footer-->
        <div class="plus-content pro-footer border-box">
            <img src="../img/iqu2/iqut2-14.jpg" alt="">
            <a  onclick="_hmt.push(['_trackEvent','iqut2购买','iqut2概况页footer进入'])"  href="" class="pro-footerbuy">立即购买</a>
        </div>
    </div>
    <div class="common-footer">
        Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
    </div>
    <!--</div>-->
</div>
<script src="../script/iqu2.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
<script src="../script/iqut2-overview.js"></script>

</body>
</html>