<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iqut1技术规格</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/nav-header.css">
    <!--<link rel="stylesheet" href="../css/pro-overview.css">-->
    <link rel="stylesheet" href="../css/iqut1-overview.css">
    <script src="../script/iqut1-overview.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--<div class="headerpage"></div>-->

<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray current-page">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden active"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green">
                        小悦阅
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red no-sec">
                        <a href="iReal-overview.html" class="on-red">
                            iReal
                        </a>
                    </li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green">
                                    <a href="the-film.html">
                                        线上影城
                                    </a>
                                </li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="no-sec">
                        <a href="cooperation.html" class="on-green">
                            商业合作
                        </a>
                    </li>
                </ul>
                <div class="no-sec">
                    <a href="aboutUs.html" class="about-us on-green">
                        关于我们
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="limit-with border-box">
    <div class="pro-headertext flex-btn pro-border">
        <div class="pro-left-header"><img src="../img/iqu2/iqut2-text.png" alt=""></div>
        <div class="pro-right-header">
            <a href="iqut1-overview.html" class="ml-45 size-14 iqut2-overview">概览</a>
            <a href="" class="ml-45 size-14 iqut2-technical">技术规格</a>
            <a  onclick="_hmt.push(['_trackEvent','iqut1购买','iqut1技术规格页nav进入'])"  href="" class="ml-45 size-14 iqut2-header-buy">购买</a>
        </div>
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-1.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-screen.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-processor.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-strorage.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-battery.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width  border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-port.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-sensor.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width border-box ">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-wifi.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-t-udisk.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-harddisk.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width border-box">
    <div class="pro-border">
        <img src="../img/iqut1/iqut1-typec-port.jpg" alt="">
    </div>
</div>
<div class="pro-limit-width pro-footer border-box">
    <img src="../img/iqut1/iqut1-t-footer.jpg" alt="">
    <button  onclick="_hmt.push(['_trackEvent','iqut1购买','iqut1概况页footer进入'])"  class="buy-btn t-buy-position buy-btn-style2">
        <a href="" class="text-brown">立即购买</a></button>
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
</body>
</html>