<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iReal技术规格</title>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/nav-header.css">
    <script src="../script/pro-overview.js"></script>
    <!--<link rel="stylesheet" href="../css/pro-overview.css">-->
    <script type="text/javascript" src="https://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
      $youziku.load("body", "a3b4ffff6a3e475fbe33a2ca3ac99f30", "PingFangSC_L");
      $youziku.draw();
    </script>
    <link rel="stylesheet" href="../css/iReal.css">
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</head>
<body>
<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green">
                        小悦阅
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red"><a href="iReal-overview.html" class="on-red">iReal</a></li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green"><a href="the-film.html">线上影城</a></li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="cooperation.html" class="on-green">商业合作</a></li>
                </ul>
                <a href="aboutUs.html" class="about-us on-green">关于我们</a>
            </nav>
        </div>
    </div>
</div>
<div class="limit-with border-box">
    <div class="ireal-headertext flex-btn ">
        <div class="ireal-left-header"><img src="../img/ireal/iReal%20Homie.png" alt=""></div>
        <div class="ireal-right-header">
            <a href="iReal-overview.html" class="ml-45 size-14 header-hovered PSL">概览</a>
            <a href="" class="ml-45 size-14  PSL ireal-header-technical">技术规格</a>
            <a onclick="_hmt.push(['_trackEvent','iReal购买','iReal技术规格页nav进入'])"  href="" class="ml-45 size-14  PSL ireal-header-buy">购买</a>
        </div>
    </div>
</div>
<div class="ireal-limit-width border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal-t-header.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-1.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-2.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-3.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-4.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-5.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-6.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-7.jpg" alt="">
    </div>
</div><div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-8.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-9.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-10.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-11.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-12.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-13.jpg" alt="">
    </div>
</div>
<div class="ireal-limit-width  border-box">
    <div class="ireal-border">
        <img src="../img/ireal/ireal参数-14.jpg" alt="">
    </div>
</div>


<div class="ireal-limit-width border-box">
    <div class=" ireal-footer ">
        <img src="../img/ireal/ireal-footer.jpg" alt="">
        <a onclick="_hmt.push(['_trackEvent','iReal购买','iReal概技术规格页footer进入'])"  href="" class="ireal-footerbuy">立即购买</a>
    </div>
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
</body>
</html>