<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>小阅悦Plus概况</title>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/nav-header.css">
    <!--<script src="../script/pro-overview.js"></script>-->
    <link rel="stylesheet" href="../css/plus-overview.css">
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</head>
<body>

<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green on-plus">
                        小悦阅
                        <div class="second-nav bg-gray current-page">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html" class="active">小阅悦Plus</a></li>
                                <li class="add-padding-green"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red no-sec">
                        <a href="iReal-overview.html" class="on-red">
                            iReal
                        </a>
                    </li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green">
                                    <a href="the-film.html">
                                        线上影城
                                    </a>
                                </li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="no-sec">
                        <a href="cooperation.html" class="on-green">
                            商业合作
                        </a>
                    </li>
                </ul>
                <div class="no-sec">
                    <a href="aboutUs.html" class="about-us on-green">
                        关于我们
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>


<div class="limit-with border-box">
    <div class="plus-headertext flex-btn">
        <div class="plus-left-header"><img src="../img/plus/Plus-headertext.png" alt=""></div>
        <div class="plus-right-header">
            <a href="" class="ml-45 size-14 plus-overview">概览</a>
            <a href="plus-technical.html" class="ml-45 size-14 header-hovered">技术规格</a>
            <a onclick="_hmt.push(['_trackEvent','小悦阅Plus购买','小悦阅Plus概况页nav进入'])" href="" class="ml-45 size-14 plus-overview-buy">购买</a>
        </div>
    </div>
</div>
<div class="plus-bannerbg">
    <div class="plus-text coming">
        <img src="../img/plus/plus-bannertext.png" alt="" class="text">
        <a onclick="_hmt.push(['_trackEvent','小悦阅Plus购买','小悦阅Plus概况页banner进入'])" href="" class="plus-banner-buy">立即购买</a>
    </div>
    <div class="plus-banner action">
        <img src="../img/plus/plus-banner.png" alt="" class="logo">
    </div>
</div>
<div class="plus-cellphone">
    <img src="../img/plus/plus-animatebg.png" alt="" class="plus-bg">
    <img src="../img/plus/plus-cellphone.png" alt="" class="cellphone">
    <img src="../img/plus/plus-vr.png" alt="" class="plus-product">
    <a href="" class="divide" id="divide">分界线</a>
</div>
<div class="plus-content" id="touch">
    <img src="../img/plus/plus-3.jpg" alt="">
    <img src="../img/plus/plus-4.jpg" alt="">
    <img src="../img/plus/plus-5.jpg" alt="">
    <img src="../img/plus/plus-6.jpg" alt="">
    <img src="../img/plus/plus-7.jpg" alt="">
</div>

<div class="s-evaluation">
    <div class="limit-width border-box pad-15" id="s-evalute">
        <div class="s-evaluationtext">精品测评</div>

    </div>
</div>

<div class="plus-content plus-footer">
    <img src="../img/plus/plus-footer.jpg" alt="">
    <a  onclick="_hmt.push(['_trackEvent','小悦阅Plus购买','小悦阅Plus概况页footer进入'])"  href="" class="plus-footerbuy">立即购买</a>
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
<script src="../script/plus-overview.js"></script>
</body>
</html>