<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>小阅悦Pro概况</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../css/pro-overview.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ccd598b6be74756311ac60fd08bec75e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div class="common-header">
    <div class="wrap">
        <div class="limit-with">
            <nav class="navigation">
                <div class="iqiyi-logo">
                    <a href="../index.html"><img src="../img/common/header/iqiyi.png" alt=""></a>
                </div>
                <ul class="nav-title">
                    <li class="on-golden">
                        iQUT
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="logo text-golden">iQUT</li>
                                <li class="on-golden add-padding-golden"><a href="iqut2-overview.html">iQUT 2</a></li>
                                <li class="on-golden add-padding-golden"><a href="iqut1-overview.html">iQUT 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-green on-plus">
                        小悦阅
                        <div class="second-nav bg-gray current-page">
                            <ul>
                                <li class="logo">小阅悦</li>
                                <li class="add-padding-green"><a href="s-overview.html">小阅悦S</a></li>
                                <li class="add-padding-green"><a href="plus-overview.html">小阅悦Plus</a></li>
                                <li class="add-padding-green active"><a href="pro-overview.html">小阅悦Pro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="on-red no-sec">
                        <a href="iReal-overview.html" class="on-red">
                            iReal
                        </a>
                    </li>
                    <li class="on-green">
                        资源展示
                        <div class="second-nav bg-gray">
                            <ul>
                                <li class="add-padding-green">
                                    <a href="the-film.html">
                                        线上影城
                                    </a>
                                </li>
                                <li class="add-padding-green"><a href="game-application.html">游戏应用</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="no-sec">
                        <a href="cooperation.html" class="on-green">
                            商业合作
                        </a>
                    </li>
                </ul>
                <div class="no-sec">
                    <a href="aboutUs.html" class="about-us on-green">
                        关于我们
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="limit-with border-box">
    <div class="pro-headertext flex-btn pro-border-btm">
        <div class="pro-left-header"><img src="../img/pro/Pro-headertext.png" alt=""></div>
        <div class="pro-right-header">
            <a href="" class="ml-45 size-14 pro-overview">概览</a>
            <a href="pro-technical.html" class="ml-45 size-14 header-hovered">技术规格</a>
            <a onclick="_hmt.push(['_trackEvent','小悦阅Pro购买','小悦阅Pro概况页nav进入'])" href="" class="ml-45 size-14 pro-overview-buy">购买</a>
        </div>
    </div>
</div>
<div class="pro-banner">
    <div class="pro-banner-wap">
        <img src="../img/pro/pro-bannertext-1.png" alt="" class="pro-banner-titleimg">
        <!--<div class="pro-banner-title">小阅悦Pro</div>-->
        <!--<div class="pro-banner-content">虚拟现实智能头盔</div>-->
        <a  onclick="_hmt.push(['_trackEvent','小悦阅Pro购买','小悦阅Pro概况页banner进入'])"  href="" class="pro-banner-buy">立即购买</a>
    </div>
    <img src="../img/pro/pro-banner.png" alt="" class="pro-banner-img">
</div>
<div class="overspread">
    <img src="../img/pro/pro-reverse.jpg" alt="">
    <img src="../img/pro/pro-clear.jpg" alt="">
    <img src="../img/pro/pro-comfort.png" alt="">
    <img src="../img/pro/pro-breath.png" alt="">
    <img src="../img/pro/pro-distance.png" alt="">
    <img src="../img/pro/pro-distance2.jpg" alt="">
    <img src="../img/pro/pro-disassembly.jpg" alt="">
    <img src="../img/pro/pro-touch.jpg" alt="">
</div>
<div class="s-evaluation">
    <div class="limit-width border-box pad-15" id="s-evalute">
        <div class="s-evaluationtext">精品测评</div>

    </div>
</div>
<!--<div class="pro-evaluation">-->
    <!--<div class="limit-with border-box">-->
        <!--<div class="pro-evaluationtext">精品测评</div>-->
        <!--<div class="width-50 inner-wrap">-->
            <!--<div class="flex">-->
                <!--<div class="flex-left">-->
                    <!--<img src="../img/pro/pro-footer.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="flex-right">-->
                    <!--<div class="flex-right-title">#G2开箱#征贴活动&emsp;获奖名单</div>-->
                    <!--<div class="flex-right-content">七夕将至，在这里先祝各位pro用户七夕节快乐~lalalallaalal这周我们为各位“单身狗”和宅在家里的...</div>-->
                    <!--<div>媒体名称&emsp;&emsp;2018-9-29</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="width-50 inner-wrap">-->
            <!--<div class="flex">-->
                <!--<div class="flex-left">-->
                    <!--<img src="../img/pro/pro-footer.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="flex-right">-->
                    <!--<div class="flex-right-title">#G2开箱#征贴活动&emsp;获奖名单</div>-->
                    <!--<div class="flex-right-content">七夕将至，在这里先祝各位pro用户七夕节快乐~这周我们为各位“单身狗”和宅在家里的...</div>-->
                    <!--<div>媒体名称&emsp;&emsp;2018-9-29</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="overspread pro-footer">
    <img src="../img/pro/pro-footer.jpg" alt="">
    <a onclick="_hmt.push(['_trackEvent','小悦阅Pro购买','小悦阅Pro概况页footer进入'])" href="" class="pro-footerbuy">立即购买</a>
</div>
<div class="common-footer">
    Copyright&nbsp;©&nbsp;2018&nbsp;爱奇艺智能&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;渝ICP备18002599号
</div>
<script src="../script/pro-overview.js"></script>
</body>
</html>